<div class="flyntComponent themeLight" is="flynt-navigation-footer">
  <div class="container centerMaxWidthContainer">
    {% if contentHtml %}
      <div class="content col col-1">{{ contentHtml|e('wp_kses_post') }}</div>
    {% endif %}
    {% if contentCenterHtml %}
      <div class="content col col-2">
        {{ contentCenterHtml|e('wp_kses_post') }}
        <div class="credits-supporters">
          <div class="supporters">
            <p>Supported by</p>
            <ul class="supportersList">
              {% for item in repeaterSupporters %}
                <li class="socialList-item">
                  <a href="{{ item.supporterLink }}" rel="noreferrer noopener" target="_blank">
                    <figure class="figure">
                      <img class="figure-image lazyload" src="{{ item.image.src|resize(540) }}">
                    </figure>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="credits">
            {{ socialContentHtml|e('wp_kses_post') }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if menu %}
      <nav class="navigation col col-3" aria-label="{{ __("Footer", "flynt") }}">
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      </nav>
    {% endif %}
  </div>
  {% include 'Partials/_backtotop.twig' %}
</div>
