<div class="flyntComponent" is="flynt-block-artist-header">
  <div class="container fullWidthContainer">
    <div class="artist-info-table-label-desktop">
      <p class="artist-info-table-header-label-desktop">Artist</p>
      <p class="artist-info-table-header-label-desktop">Genre</p>
      <p class="artist-info-table-header-label-desktop">Follow</p>
    </div>
    <div class="artist-info-table">
      <div class="artist-info-table-header">
        <p class="artist-info-table-header-label-mobile">Artist</p>
        <p class="artist-info-table-header-title">{{ post.title }}</p>
      </div>
      <div class="artist-info-table-header">
        <p class="artist-info-table-header-label-mobile">Genre</p>
        {% if post.terms('tag') %}
        <ul class="tags">
          {% for tag in post.terms('tag')  %}
            <li class="tags-item"><a class="tags-itemLink" href="{{ tag.link }}"><span class="visuallyHidden">{{ __("Tag:", "flynt") }}</span> {{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      <div class="artist-info-table-header">
        <p class="artist-info-table-header-label-mobile">Follow</p>
        {% if post.artistSoundcloud or post.artistInstagram or post.artistFacebook or post.artistMixcloud or post.artistBandcamp or post.artistWebsite %}
          <div class="artist-info-table-header-title">
            <a class="artist-info-table-header-title-soundcloud" href="{{ post.artistSoundcloud|e }}" target="_blank"><span class="visuallyHidden">Soundcloud<span></a>
            <a class="artist-info-table-header-title-instagram" href="{{ post.artistInstagram|e }}" target="_blank"><span class="artist-info-table-header-title-social-instagram">Instagram<span></a>
            <a class="artist-info-table-header-title-facebook" href="{{ post.artistFacebook|e }}" target="_blank"><span class="artist-info-table-header-title-social-facebook">Facebook<span></a>
            <a class="artist-info-table-header-title-mixcloud" href="{{ post.artistMixcloud|e }}" target="_blank"><span class="artist-info-table-header-title-social-mixcloud">Mixcloud<span></a>
            <a class="artist-info-table-header-title-bandcamp" href="{{ post.artistBandcamp|e }}" target="_blank"><span class="artist-info-table-header-title-social-bandcamp">Bandcamp<span></a>
            <a class="artist-info-table-header-title-website" href="{{ post.artistWebsite|e }}" target="_blank"><span class="artist-info-table-header-title-social-website">Website<span></a>
          </div>
        {% endif %}
      </div>
    </div>
    {% if post.thumbnail %}
      <div class="featuredImage">
        {{ renderComponent('BlockImage', { image: post.thumbnail, noComponentSpacing: true }) }}
      </div>
    {% endif %}
    <div class="content centerMaxWidthContainer">
      {% if post.content %}
        <div class="artist-bio">
          <h1 class="preTitle">Bio</h1>
          {# <p class="excerpt">{{ post.post_excerpt }}</p> #}
          {% if post.content|e('wp_kses_post') %}
            {{ post.content|e('wp_kses_post') }}
          {% endif %}
        </div>
      {% endif %}
      {# <div class="meta">
        {% if post.date %}
          <time class="meta-date" datetime="{{ post.post_date }}">{{ post.date|date }}</time> {{ dividers.authorDivider|e }}
        {% endif %}
        {{ labels.postedByLabel|e }} <a class="meta-author" href="{{ post.author.link|e('esc_url') }}"><span class="visuallyHidden">{{ __("Author:", "flynt") }}</span> {{ post.author.name }}</a>
        <a class="meta-category" href="{{ post.category.link|e('esc_url') }}"><span class="visuallyHidden">{{ __("Category:", "flynt") }}</span> {{ post.category }}</a>
        {{ dividers.readingtimeDivider|e }} <span class="meta-readingtime">{{ post.content|readingtime }} {{ labels.readingtimeLabel|e }}</span>
      </div> #}
      
    </div>
  </div>
</div>
