<div class="flyntComponent" is="flynt-block-artist-header">
  <div class="container fullWidthContainer">
    {% if post.thumbnail %}
      <div class="featuredImage">
        {{ renderComponent('BlockImage', { image: post.thumbnail, noComponentSpacing: true }) }}
      </div>
    {% endif %}
    <div class="content centerMaxWidthContainer">
      <div class="episode-header">
        <p class="episode-header-title">{{ post.title }}</p>
        <p class="episode-header-title"> {{ renderComponent('ListSocialArtist', { listSocialArtist: listSocialArtist }) }}</p>
      </div>
      {% if post.post_excerpt %}
        <div class="artist-bio">
          <h1 class="preTitle">Bio</h1>
          {# <p class="excerpt">{{ post.post_excerpt }}</p> #}
          {% if post.content|e('wp_kses_post') %}
            {{ post.content|e('wp_kses_post') }}
          {% endif %}
        </div>
      {% endif %}
      {% if post.terms('tag')  %}
        <ul class="tags">
          {% for tag in post.terms('tag')  %}
            <li class="tags-item"><a class="tags-itemLink pill" href="{{ tag.link }}"><span class="visuallyHidden">{{ __("Tag:", "flynt") }}</span> {{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {# <div class="meta">
        {% if post.date %}
          <time class="meta-date" datetime="{{ post.post_date }}">{{ post.date|date }}</time> {{ dividers.authorDivider|e }}
        {% endif %}
        {{ labels.postedByLabel|e }} <a class="meta-author" href="{{ post.author.link|e('esc_url') }}"><span class="visuallyHidden">{{ __("Author:", "flynt") }}</span> {{ post.author.name }}</a>
        <a class="meta-category" href="{{ post.category.link|e('esc_url') }}"><span class="visuallyHidden">{{ __("Category:", "flynt") }}</span> {{ post.category }}</a>
        {{ dividers.readingtimeDivider|e }} <span class="meta-readingtime">{{ post.content|readingtime }} {{ labels.readingtimeLabel|e }}</span>
      </div> #}
      
    </div>
  </div>
</div>
