{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main narrowWidthContainer">
      <div class="episode-header-labels">
        <p class="episode-header-labels-category">Episode</p>
        <p class="episode-header-labels-artist">Artist</p>
        <p class="episode-header-labels-tags">Genre</p>
      </div>
      <div class="episode-header">
        <p class="episode-header-title">{{ post.title }}</p>
        {{ renderComponent('BlockPageLink', { text: post.pageTitle }) }}
        {# <a class="episode-header-category meta-category" href="{{ post.category.link|e('esc_url') }}"><span class="visuallyHidden">{{ __("Category:", "flynt") }}</span> {{ post.category }}</a> #}
        {% if post.terms('tag')  %}
        <ul class="tags">
          {% for tag in post.terms('tag')  %}
            <li class="tags-item"><a class="tags-itemLink" href="{{ tag.link }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <footer class="post-meta">
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer>
    <section class="post-related">
      <h1>Episodes</h1>
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h1>' ~ __('Episodes') ~ '</h1>','taxonomies': post.categories() }) }}
    </section>
  </article>
{% endblock %}
