{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockPostHeader', { post: post }) }}
    </header>
    <section class="post-main narrowWidthContainer">
      <div class="episode-header-labels">
        <p class="episode-header-labels-category">Episode</p>
        <p class="episode-header-labels-artist">Artist</p>
        <p class="episode-header-labels-tags">Genre</p>
      </div>
      <div class="episode-header">
        {% if post.dateEpisode or post.timeEpisodeStart %}
          <div class="table-header">
            <p class="table-header-label">Episode</p>
            <span class="episode-date">{{ post.dateEpisode|date("d.m.Y")|escape('wp_kses_post') }}</span>
            <span class="visuallyHidden episode-date">{{ post.dateEpisodeEnd|date("d.m.Y")|escape('wp_kses_post') }}</span>
          </div>
        {% endif %}
        {# {% if post.featartists %}
        {% for featartist in post.featartists %}
          {% if post.featartist.artistTest %}
            <li class="grid-item">
              <div class="table-header">
              <p class="table-header-label">Artists</p>
              <a class="episode-artist">{{ post.featartist.artistTest|e }}</a>
            </div>
            </li>
          {% endif %}
        {% endfor %}
        {% endif %} #}
          <div class="table-header">
            <p class="table-header-label">Artists</p>
            <span><a class="episode-artist" href="{{ post.artist1Episode.url|e }}">{{ post.artist1Episode.title|e }}</a></span>
            {% if post.artist2Episode or post.artist3Episode %}
            <span><a class="episode-artist" href="{{ post.artist2Episode.url|e }}">&#38; {{ post.artist2Episode.title|e }}</a></span>
            <span><a class="episode-artist" href="{{ post.artist3Episode.url|e }}">&#38; {{ post.artist3Episode.title|e }}</a></span>
            {% endif %}
          </div>
        {% if post.terms('tag')  %}
          <div class="table-header">
            <p class="table-header-label">Genre</p>
            <ul class="tags">
              {% for tag in post.terms('tag')  %}
                <li class="tags-item"><a class="tags-itemLink" href="{{ tag.link }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <footer class="post-meta">
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer>
    {# <section class="post-related">
      <h1>Episodes</h1>
      {{ renderComponent('GridPostsArchive', {'preContentHtml': '<h1>' ~ __('Episodes') ~ '</h1>','taxonomies': post.taxonomy('tags') }) }}
    </section> #}
  </article>
{% endblock %}
