<nav is="flynt-navigation-main" class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper">
    <div class="headerTop centerMaxWidthContainer">
      <a class="menu-link menu-link-live menu-link-live{{ onAir|e }}" href="/">Now Live</a>
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <a class="menu-item {{ item.current ? 'menu-item--current' }}" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
              <li class="menu-link">{{ item.title }}</li>
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="headerBottom container">
      <a class="logo" href="{{ site.link }}">
        <img class="logo-image" src="{{ logo.src }}" alt="{{ logo.alt }}">
      </a>
    </div>
  </div>
</nav>
